<div class="row animated fadeIn faster">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar {{ percentage1 }}</h4>
        <div class="progress m-t-20">
          <div class="progress-bar bg-warning progress-bar-striped active"
               style="height:10px;"
               [style.width]="getPercentage1"
               role="progressbar"></div>
        </div>

        <div class="progress m-t-20">
          <div class="progress-bar bg-primary progress-bar-striped active"
               style="height:10px;"
               [style.width]="getPercentage2"
               role="progressbar"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment [percentage]="percentage1" (percentage)="percentage1 = $event"></app-increment>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment [btnColor]="'btn-primary'" [percentage]="percentage2" (percentage)="percentage2 = $event"></app-increment>
      </div>
    </div>
  </div>
</div>