<div class="row animated fadeIn faster">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #inputQuery type="text" class="form-control" placeholder="Type to search" (keyup)="search(inputQuery.value)"/>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading...</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
    </div>
  </div>

  <div *ngIf="!loading" class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th class="w100">Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th class="w140">Role</th>
                <th class="w100">Authentication</th>
                <th class="text-nowrap w100">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td class="align-middle">{{ i + 1 }}</td>
                <td class="text-center">
                  <img class="pointer avatar shadow" [src]="user.pictureUrl" data-toggle="modal" data-target="#exampleModal" (click)="show(user)"/>
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <select class="form-control" [(ngModel)]="user.role" (change)="updateRole(user)">
                    <option value="ADMIN">Admin</option>
                    <option value="USER">User</option>
                  </select>
                </td>
                <td>
                  <span *ngIf="user.google" class="label label-danger">Google</span>
                  <span *ngIf="!user.google" class="label label-info">Normal</span>
                </td>
                <td class="text-nowrap text-center">
                  <a class="pointer" data-toggle="tooltip" data-original-title="Edit">
                    <i class="fa fa-save text-inverse m-r-10"></i>
                  </a>
                  <a class="pointer" data-toggle="tooltip" data-original-title="Delete" (click)="deleteUser(user)">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <div *ngIf="inputQuery.value.length === 0" class="button-group">
                    <button (click)="changePage(-5)" class="btn btn-secondary">Previous</button>
                    <button (click)="changePage(5)" class="btn btn-secondary">Next</button>
                  </div>
                </td>
                <td class="align-middle" colspan="1">Total: {{ total }}</td>
              </tr>
            </tfoot>
          </table>
          <!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button *ngIf="let page of p" type="button" class="btn btn-secondary">{{ i }}</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal type="users" [obj]="selectedUser"></app-modal>
