<div class="input-group">
  <span class="input-group-btn">
    <button class="btn" [ngClass]="btnColor" (click)="changePercentage(-5)" type="button">
      <i class="fa fa-minus"></i>
    </button>
  </span>

  <input type="number" class="form-control" placeholder="Progress" min="0" max="100"
         [ngClass]="{'is-invalid' : percentage > 100 || percentage < 0}"
         (ngModelChange)="onChange($event)"
         [(ngModel)]="percentage">

  <span class="input-group-btn">
    <button class="btn" [ngClass]="btnColor" (click)="changePercentage(5)" type="button">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
